/* Font */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Content */

body {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    height: 100vh;
    user-select: none
}

.main {
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 5px 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

h1, h2, h3 {
  margin: 0;
  user-select: none
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
  user-select: none
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: lightgray;
}

.right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: white;
}

/* Media queries */

@media(max-width: 768px) {

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

}

h2.gram {
    display: inline-block;
    text-align: center;
  }

#clock {
  position: fixed;
  text-align: center;
  color: #fff;
  bottom: 0px;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
}